<html>

<head>
  <meta charset="utf-8" />
  <title>航線設定</title>
  <link rel="stylesheet" href="../statics/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">


  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div id="title">航線設定</div>
  <table align="center">
    <tr>
      <td></td>
      <td>
        <form action="/forward" method="post">
          <input type="image" class="img" src="../statics/img/forward.png" />
        </form>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <form action="/left" method="post">
          <input type="image" class="img" src="../statics/img/left.png" />
        </form>
      </td>

      <td>
        <form action="/stop" method="post">
          <input type="image" class="img" src="../statics/img/stop.png" />
        </form>
      </td>
      <td>
        <form action="/right" method="post">
          <input type="image" class="img" src="../statics/img/right.png" />
        </form>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <form action="/back" method="post">
          <input type="image" class="img" src="../statics/img/backward.png" />
        </form>
      </td>
      <td></td>
    </tr>
  </table>

  <div class="rangeSlider">
    <form action="/controlSpeed" method="post">
      <input type="range" name="speed" min="1" max="10" class="mySlider" id="sliderRange" />
      <p>Value: <span id="demo"></span></p>
      <input type="submit" value="ok" />
    </form>
  </div>

  <div class="main">
    <a href="index.html" class="btn btn-primary">設定完成</a>
  </div>
</body>

</html>

<script>
  var rangeSlider = document.getElementById("sliderRange");
  var output = document.getElementById("demo");
  output.innerHTML = rangeSlider.value;

  rangeSlider.oninput = function () {
    output.innerHTML = this.value;
  };
</script>