<html>

<head>
    <meta charset="utf-8" />
    <title>Car App</title>
    <link rel="stylesheet" href="../statics/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">


    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div id="title">The Smart Trash Car</div>
    
    <div class="main">
        <p class="form-text text-muted">
            使用前請先設定航線
        </p>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">呼叫垃圾車</h5>
                </div>
                <br>
                <p class="mb-1">按下後車子會沿航線前進</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">返回垃圾桶</h5>
                </div>
                <br>
                <p class="mb-1">按下後車子會原路返回垃圾桶</p>
            </a>
            <a href="controll.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-2">設定航線</h5>
                </div>
                <br>
                <p class="mb-1">按下後會進入控制頁面，可以操控車子前進</p>
            </a>
        </div>   
    </div>


</body>

</html>

<script>

</script>